<router-outlet></router-outlet>

<!--<body>-->
<!--  <div class="head d-flex justify-content-between p-3 m-5 mt-3">-->
<!--    <div class=" d-flex justify-content-around align-items-center ms-4">-->
<!--      <div-->
<!--      class="icon-prof p-1 d-flex justify-content-center align-items-center"-->
<!--      [inlineSVG]="'assets/icons/person-svgrepo-com.svg'"-->
<!--    ></div>-->
<!--    <button class="content">پروفایل</button>-->
<!--  </div>-->
<!--    <div class="side-bar d-flex justify-content-around align-items-center ms-4">-->
<!--      <button class="content">محصولات</button>-->
<!--      <button class="content">صفحه اصلی</button>-->
<!--      <a class="content" [routerLink]="['/landing']">en-website</a>-->

<!--    </div>-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--  <div class="middle d-flex justify-content-around align-items-center">-->
<!--    <div class="images d-flex justify-content-center align-items-center m-2 p-2">-->
<!--      <img [src]="'assets/pixes/eyeshadow.PNG'" />-->
<!--      <p class="content m-2 p-2">سایه نارس</p>-->
<!--    </div>-->
<!--    <div class="images d-flex justify-content-center align-items-center m-2 p-2">-->
<!--      <img [src]="'assets/pixes/foundation.jfif'" />-->
<!--      <p class="content m-2 p-2">کرم پودر نارس</p>-->
<!--    </div>-->
<!--    <div class="images d-flex justify-content-center align-items-center m-2 p-2">-->
<!--      <img [src]="'assets/pixes/lipstack.jpg'" />-->
<!--      <p class="content m-2 p-2">رژلب مینرال نارس</p>-->
<!--    </div>-->
<!--    <div class="images d-flex justify-content-center align-items-center m-2 p-2">-->
<!--      <img [src]="'assets/pixes/maskara.jfif'" />-->
<!--      <p class="content m-2 p-2">ریمل بلند کننده نارس</p>-->
<!--    </div>-->
<!--    <div class="images d-flex justify-content-center align-items-center m-2 p-2">-->
<!--      <img [src]="'assets/pixes/blush.jfif'" />-->
<!--      <p class="content m-2 p-2">رژگونه و کانتور نارس</p>-->
<!--    </div>-->
<!--    <div class="images d-flex justify-content-center align-items-center m-2 p-2">-->
<!--      <img [src]="'assets/pixes/brunser.jfif'" />-->
<!--      <p class="content m-2 p-2">برانزر نارس</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div-->
<!--    class="footer d-flex justify-content-between align-items-center p-2 m-5 mb-3"-->
<!--  >-->
<!--    <div class="d-flex justify-content-around align-items-center">-->
<!--      <div-->
<!--        class="svg-foot ms-2"-->
<!--        [inlineSVG]="'assets/icons/info-svgrepo-com.svg'"-->
<!--      ></div>-->
<!--      <p class=" rule m-3">-->
<!--        قالب، تصاویر و قیمت گذاری متعلق به نازیشاپ بوده و کپی برداری از آن پیگرد-->
<!--        قانونی دارد-->
<!--      </p>-->
<!--    </div>-->
<!--    <div-->
<!--      class="foot-cntnt d-flex justify-content-between align-items-center me-3"-->
<!--    >-->
<!--      <button class="content m-2 ">تماس با ما</button>-->
<!--      <button class="content m-2 ">درباره ما</button>-->
<!--    </div>-->
<!--  </div>-->

<!--</body>-->
