/* You can add global styles to this file, and also import other style files */
* {
  font-family: "B Koodak", sans-serif;
}

canvas {
  height: 100%; /* we need these for full-screen effect */
  width: 100%;
}


.p-dialog{
  height: 400px;
  direction: rtl;
}

.p-dialog-content{
  padding: 0 1.5rem !important;
}

.drop-down-cart>div {
  color: #2d2d2d;
  text-align: center;
  width: 90%;
  height: 50px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: rgba(250, 250, 250, 0.87);
}

span.p-dropdown-label {
  margin: auto;
  font-family: "B Koodak";
}

li.p-ripple{
  padding: 0 !important;
}

.the-toolbox.horizontal-padding{
  display: none;
}

.datepicker-outer-container{
  width: 160px;
  height: fit-content;
  padding: 0;
  margin: auto;
  position: absolute;
  top: 50px;
  right: auto;
}

.datepicker-content> input{
  cursor: pointer;
  height: 50px;
}


div.dp-btn:hover{
  background: #d39470 !important;
}

div.dp-btn.selected{
  background: #8b9216 !important;
}

div.dp-btn.today{
  background: #db6816 !important;
}

div.p-dropdown-trigger{
  text-align: left;
  position: absolute;
  left: 0;
  top: 15px;
}
