<section class="row justify-content-center align-items-center m-0">
  <span class="project text-center"><span class="heart">❤</span> MY PROJECTS ❤</span>
  <button class="col-7 col-md-5"><a routerLink='/store'>store</a> </button>
  <button class="col-7 col-md-5"><a routerLink='/todolist'>todolist</a> </button>
  <button class="col-7 col-md-5"><a routerLink='/behzi'>behzi</a> </button>
  <button class="col-7 col-md-5"><a routerLink='/behzi'>dress shop</a> </button>
  <router-outlet></router-outlet>

</section>
